In [6]:
# Importing the required libaries
import numpy as np
import pandas as pd
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.layers import Embedding, LSTM, Dense, Dropout,Conv1D,Flatten 
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.models import Sequential
from tensorflow.keras.utils import to_categorical
import tensorflow as tf
import string
from nltk import word_tokenize 

# Loading the listings data set

listings_data = pd.read_csv('/home/rreinhaus/code/rreinhaus/listings.csv')

In [8]:
# 171 + 1 descrition sequence length

description_data = listings_data[['id', 'description']][listings_data['review_scores_rating'] > 4]
description_data

             id                                        description
0         13913  My bright double bedroom with a large window h...
1         15400  Lots of windows and light.  St Luke's Gardens ...
2         17402  You'll have a wonderful stay in this superb mo...
4         25123  Big room with double bed/ clean sheets/ clean ...
5         33332  Walking distance to Twickenham Stadium, 35 min...
...         ...                                                ...
66399  53618204               Simple studio flat in Goodge street.
66405  53618701  Enjoy a warm, stylish experience to our 1-bedr...
66423  53622933  A lovely modern and cosy 2 bedroom apartment w...
66517  53657036  Finally a home away from home posting Newly re...
66547  53673183  This property is truly one if its kind! The ol...

[42308 rows x 2 columns]

In [9]:
def clean (text):
    text = str(text)
    for punctuation in string.punctuation:
        text = text.replace(punctuation, ' ')
    text = str(text) # Remove Punctuation
    lowercased = text.lower() # Lower Case
    tokenized = word_tokenize(lowercased) # Tokenize
    words = [word for word in tokenized]
    return words