In [59]:
# Importing the required libaries
import numpy as np
import pandas as pd
import seaborn as sns

In [15]:
data = pd.read_csv('/home/rreinhaus/code/rreinhaus/reviews.csv')

In [16]:
data.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,13913,80770,2010-08-18,177109,Michael,My girlfriend and I hadn't known Alina before ...
1,13913,367568,2011-07-11,19835707,Mathias,Alina was a really good host. The flat is clea...
2,13913,529579,2011-09-13,1110304,Kristin,Alina is an amazing host. She made me feel rig...
3,13913,595481,2011-10-03,1216358,Camilla,"Alina's place is so nice, the room is big and ..."
4,13913,612947,2011-10-09,490840,Jorik,"Nice location in Islington area, good for shor..."

In [55]:
data.shape

(1043004, 6)

In [50]:
data.columns

Index(['listing_id', 'id', 'date', 'reviewer_id', 'reviewer_name', 'comments'], dtype='object')

In [17]:
listings_data = pd.read_csv('/home/rreinhaus/code/rreinhaus/listings.csv')

In [18]:
listings_data.head()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,13913,https://www.airbnb.com/rooms/13913,20211207182339,2021-12-09,Holiday London DB Room Let-on going,My bright double bedroom with a large window h...,Finsbury Park is a friendly melting pot commun...,https://a0.muscache.com/pictures/miso/Hosting-...,54730,https://www.airbnb.com/users/show/54730,...,4.90,4.65,4.75,NaN,f,2,1,1,0,0.16
1,15400,https://www.airbnb.com/rooms/15400,20211207182339,2021-12-09,Bright Chelsea Apartment. Chelsea!,Lots of windows and light. St Luke's Gardens ...,It is Chelsea.,https://a0.muscache.com/pictures/428392/462d26...,60302,https://www.airbnb.com/users/show/60302,...,4.82,4.93,4.73,NaN,f,1,1,0,0,0.61
2,17402,https://www.airbnb.com/rooms/17402,20211207182339,2021-12-09,Superb 3-Bed/2 Bath & Wifi: Trendy W1,You'll have a wonderful stay in this superb mo...,"Location, location, location! You won't find b...",https://a0.muscache.com/pictures/39d5309d-fba7...,67564,https://www.airbnb.com/users/show/67564,...,4.66,4.85,4.59,NaN,f,1,1,0,0,0.33
3,17506,https://www.airbnb.com/rooms/17506,20211207182339,2021-12-09,Boutique Chelsea/Fulham Double bed 5-star ensuite,Enjoy a chic stay in this elegant but fully mo...,Fulham is 'villagey' and residential – a real ...,https://a0.muscache.com/pictures/11901327/e63d...,67915,https://www.airbnb.com/users/show/67915,...,NaN,NaN,NaN,NaN,f,2,0,2,0,NaN
4,25123,https://www.airbnb.com/rooms/25123,20211207182339,2021-12-09,Clean big Room in London (Room 1),Big room with double bed/ clean sheets/ clean ...,Barnet is one of the largest boroughs in Londo...,https://a0.muscache.com/pictures/456905/a004b9...,103583,https://www.airbnb.com/users/show/103583,...,4.89,4.45,4.74,NaN,t,3,0,3,0,0.91

In [19]:
listings_data.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'description',
       'neighborhood_overview', 'picture_url', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [44]:
smaller_list= listings_data[['id','host_id','host_is_superhost', 'review_scores_rating', 'number_of_reviews','review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location','review_scores_value']].copy()

In [45]:
smaller_list['host_is_superhost'].value_counts()

f    57146
t     9436
Name: host_is_superhost, dtype: int64

In [46]:
superhost_data = smaller_list[(smaller_list['number_of_reviews'] > 1) & (smaller_list['host_is_superhost'] == 't')].copy()

In [47]:
superhost_data = superhost_data[['id','review_scores_rating']][superhost_data['review_scores_rating'] > 4.5]

In [48]:
superhost_data['listing_id'] = superhost_data['id']

In [51]:
superhost_data.drop(columns=['id'], inplace=True)

In [52]:
small_data = data[['listing_id', 'id','comments']]

In [53]:
superhost_reviews = superhost_data.merge(small_data, on='listing_id')

In [58]:
superhost_reviews

,review_scores_rating,listing_id,id,comments
0,4.85,36660,96819,I stayed at Agri's B&B for 4 nights and it was...
1,4.85,36660,102920,"Great b/b,great hospitality,felt like we were ..."
2,4.85,36660,106485,We absolutely loved our time with Roger and Ag...
3,4.85,36660,112474,"Wonderful experience, great B&B to stay at. Ag..."
4,4.85,36660,116159,One of the best travel experience with Airbnb ...
...,...,...,...,...
377694,4.67,53531883,506353018354715555,Fantastic host
377695,4.67,53531883,508497075256836787,"Miyo's place was clean, easy to find, and in a..."
377696,4.67,53531883,510665342365647380,"Great place! Very nice host, super clean room ..."
377697,5.00,53570165,509962011624850771,Erica's flat is the perfect place to stay if y...
377698,5.00,53570165,510705212923361000,Fantastic stay ....clean welcoming and great c...

In [67]:
# NLP libraries

from nltk.corpus import stopwords 
import string
from nltk.stem.wordnet import WordNetLemmatizer
from nltk import word_tokenize 
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import make_pipeline

In [72]:
superhost_reviews.comments.info()

<class 'pandas.core.series.Series'>
Int64Index: 377699 entries, 0 to 377698
Series name: comments
Non-Null Count   Dtype
--------------   -----
377570 non-null  object
dtypes: object(1)
memory usage: 5.8+ MB

In [77]:
superhost_reviews.comments.dtype

dtype('O')

In [82]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [78]:
def clean(text):
    for punctuation in string.punctuation:
        text = str(text)
        text = text.replace(punctuation, ' ') # Remove Punctuation
    lowercased = text.lower() # Lower Case
    tokenized = word_tokenize(lowercased) # Tokenize
    words_only = [word for word in tokenized if word.isalpha()] # Remove numbers
    stop_words = set(stopwords.words('english')) # Make stopword list
    without_stopwords = [word for word in words_only if not word in stop_words] # Remove Stop Words
    lemma=WordNetLemmatizer() # Initiate Lemmatizer
    lemmatized = [lemma.lemmatize(word) for word in without_stopwords] # Lemmatize
    return lemmatized

In [79]:
superhost_reviews['clean_comments']= superhost_reviews['comments'].apply(clean)

In [83]:
superhost_reviews['clean_comments'] = superhost_reviews['clean_comments'].astype('str')

In [84]:
from sklearn.decomposition import LatentDirichletAllocation
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()

data_vectorized = vectorizer.fit_transform(superhost_reviews['clean_comments'])

lda_model = LatentDirichletAllocation(n_components=5)

lda_vectors = lda_model.fit_transform(data_vectorized)

In [85]:
def print_topics(model, vectorizer):
    for idx, topic in enumerate(model.components_):
        print("Topic %d:" % (idx))
        print([(vectorizer.get_feature_names()[i], topic[i])
                        for i in topic.argsort()[:-10 - 1:-1]])
        

print_topics(lda_model, vectorizer)

Topic 0:

/home/rreinhaus/.pyenv/versions/3.8.12/envs/airbnb_advice/lib/python3.8/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

[('great', 137868.61109181156), ('stay', 127610.33554685366), ('place', 107865.07226904997), ('host', 103549.65963769914), ('location', 77489.17417638114), ('clean', 73557.17424531882), ('recommend', 61025.231317320875), ('lovely', 59035.60708283021), ('would', 57276.261646094616), ('london', 52648.73299339718)]
Topic 1:
[('br', 167554.7285494322), ('london', 61027.1600778976), ('place', 51080.2343310405), ('station', 47191.48787543822), ('stay', 46632.06332415934), ('room', 46594.081932292065), ('great', 44752.78785485555), ('walk', 43806.8440227118), ('flat', 39048.05287703908), ('apartment', 35431.81096039832)]
Topic 2:
[('di', 4102.199545998151), ('la', 3865.017327625098), ('per', 3031.362190367616), ('molto', 2758.1999828815556), ('br', 2736.6118511202726), ('casa', 2188.2793117827596), ('il', 2098.9441273324287), ('un', 2047.3991688206336), ('con', 2041.525435579196), ('una', 1508.646261254967)]
Topic 3:
[('br', 5588.53651614273), ('de', 3054.651496470589), ('reservation', 2549.206917667637), ('en', 2392.173268357794), ('day', 1977.127498697187), ('host', 1967.458500788023), ('arrival', 1952.142159746817), ('canceled', 1945.1994655268277), ('posting', 1939.1995102350222), ('automated', 1919.1995823144118)]
Topic 4:
[('de', 35581.74569107085), ('et', 23819.87507232741), ('br', 22288.268655281252), ('la', 22078.382276309225), ('très', 18666.199948152775), ('est', 16414.198743448742), ('un', 16182.000382839713), ('le', 15576.212452513972), ('und', 13512.19971999095), ('en', 11452.072511420634)]